Binaries
DerivedDataCache
Intermediate
Saved
.vs
Android_ETC1
HTML5/**
Build
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.apk
*.ipa
**/*.ipa
WindowsNoEditor/**
**/node_modules/**
